body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/site-background.jpg'); 
  background-position: center;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ------------------------------------------- */
            /* Acceil screen */
/* ------------------------------------------- */

.container-fluid {
  background-image: url('./images/site-background.jpg'); 
}
.card-body{
  background-image: url('./images/site-background.jpg'); 
}
.scrollTop {
  position: fixed;
  width: 3rem;
  height: 3rem;
  background-color: #00000099;
  right: 3rem;
  top: 40rem;
  z-index: 10;
  border-radius: 1rem;
  text-align: center;
  align-items: center;
  display: none;
  
}
.scrollTop .icon {
  margin-top: 0.8rem;
}
.scrollTop.active {
  display: block;
} 
.scrollTop:hover {
  background-color: #00000055;
}
/* ------------------------------------------- */
            /* Login screen */
/* ------------------------------------------- */
.loginScreen {
  background-image: url('./images/site-background.jpg'); 
}

.loginContainer {
box-shadow: 5px 5px 2px 2px #000;
}

.fonctionRadio {
   background-color: #FFF;
   border-radius: 2rem;
   margin-bottom: 0.7rem;
}
.fonctionRadio input {
  margin-right: 1rem;
}
.fonctionRadio .misajourFonction {
  margin-top: 0.4rem;
  margin-left: 1.5rem;
}
.fonctionRadio .consultationFonction {
  margin-left: 1.5rem;
}

.errLogin {
  color:crimson ;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.4rem;
}


/* ------------------------------------------- */
            /* Registre Screen */
/* ------------------------------------------- */

.seriveRadio {
  margin-left: 1.5rem;
  line-height: 1.3rem;
} 

.registreScreen .registreTrue {
  
  width: 70%;
  margin: auto;
  padding: 0.2rem 0rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
  color: rgba(37, 199, 37,99);
  border-radius: 0.4rem;
}

.registreScreen .registreFalse {
  
  width: 70%;
  margin: auto;
  padding: 0.2rem 0rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 400;
  color: crimson;
  border-radius: 0.4rem;
}

/* ------------------------------------------- */
            /* commande Screen */
/* ------------------------------------------- */


.commande #main{
  width: 65rem;
 padding-bottom: 0.8rem;
  margin: auto;
  margin-top: 2rem;
  display: block;
  background-image: url('./images/site-background.jpg'); 
    border-radius: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  }
  .commande #form{
      margin: 0rem auto;
   }

.commande  h3 {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 180%;
  color: #191970;
  font-weight: bold
}
.commande .div{
  width: 30%;
  display: inline-block;
  margin: 1rem 0 0 1rem;
}
.commande #tear{
  margin: 0.5rem 10rem 0 10rem;
}

.commande input[type=date]{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}
.commande input[type=text]{
width: 100%;
border: 1px solid #DCDCDC;
border-radius: 3px;
padding: 2% 2%;
box-sizing: border-box;
background-color: #DCDCDC;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-size: 100%;
}
.commande label{
margin: 0.7rem 0.2rem;
color: #191970;
font-size: 80%;
float: left;
font-weight: bold;

}
.commande textarea {
width: 100%;
padding: 1rem 1rem;
box-sizing: border-box;
border-radius: 10px;
background-color: #DCDCDC;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
font-size: 100%;
resize: none;
}
.commande input[type=submit]{
background-color: #191970;
border: none;
width: 7rem;
height: 2.7rem;
float: right;
color: white;
padding: 0.8% 1%;
text-decoration: none;
cursor: pointer;
margin: 2rem 3rem 2rem 3rem;
border-radius: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.commande #bottuns{
 margin-right: 2.5rem;
  float: right;
  
 }


 /* ------------------------------------------- */
            /* budget Screen */
/* ------------------------------------------- */

.budget #main{
  justify-content: center ;
  padding-bottom: 2.5rem;   
  margin-top: 2rem;
  display: flex;
  background-image: url('./images/site-background.jpg'); 
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.budget #form{
  margin: 0rem auto;
}
.budget h3 {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 180%;
  color: #191970;
  font-weight: bold
}
.budget .div{
  width: 30%;
  display: inline-block;
  margin: 1rem 0 0 1rem;
}
.budget #tear{
   margin: 0.5rem 10rem 0rem 10rem;
}

.budget #motifs{
  margin: 1rem auto 0 1rem;
  display: inline-block;
  width:62%;
}

.budget input[type=date]{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}
.budget input[type=text]{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

.budget label{
  margin: 0.7rem 0.2rem;
  color: #191970;
  font-size: 80%;
  float: left;
  font-weight: bold;
}

.budget textarea {
  width: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
  resize: none;
}

.budget input[type=submit]{
  background-color: #191970;
  border: none;
  width: 7rem;
  height: 2.7rem;
  float: right;
  color: white;
  padding: 0.8% 1%;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 3rem 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.budget #bottuns{
  margin-right: 2.5rem;
   float: right;
   
  }


 /* ------------------------------------------- */
            /* compatable Screen */
/* ------------------------------------------- */

.compatable #main{
  justify-content: center ;
  padding-bottom: 2.5rem;   
  margin-top: 2rem;
  display: flex;
  background-image: url('./images/site-background.jpg'); 
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.compatable  #form{
    margin: 0rem auto;
}

.compatable h3 {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 180%;
  color: #191970;
  font-weight: bold
}

.compatable .div{
  width: 30%;
  display: inline-block;
  margin: 1rem 0 0 1rem;
}

.compatable #tear{
  margin: 0.5rem 10rem 0rem 10rem;
}

.compatable #motifs{
  margin: 1rem auto 0 1rem;
  display: inline-block;
  width:62%;
}

.compatable input[type=date]{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

.compatable input[type=text]{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

.compatable label{
  margin: 0.7rem 0.2rem;
  color: #191970;
  font-size: 80%;
  float: left;
  font-weight: bold;
}

.compatable textarea {
  width: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
  resize: none;
}

.compatable input[type=submit]{
  background-color: #191970;
  border: none;
  width: 7rem;
  height: 2.7rem;
  float: right;
  color: white;
  padding: 0.8% 1%;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 3rem 2rem 3rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.compatable #bottuns{
  margin-right: 2.5rem;
   float: right;
   
  }


 /* ------------------------------------------- */
            /* marche Screen */
/* ------------------------------------------- */

.marche #main{
  justify-content: center ;
  padding-bottom: 2.5rem;   
  margin-top: 2rem;
  display: flex;
  background-image: url('./images/site-background.jpg'); 
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.marche #form{
  margin: 0rem auto;
}

.marche h3 {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 180%;
  color: #191970;
  font-weight: bold
}
.marche .div{
  width: 30%;
  display: inline-block;
  margin: 1rem 0 0 1rem;
}

.marche #tear{
  margin: 0.5rem 10rem 0 10rem;
}

.marche input[type=date], select,.selectMarch{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

.marche input[type=text]{
  width: 100%;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}
.marche label{
  margin: 1rem 0 0  0;
  color: #191970;
  font-size: 80%;
  float: left;
  font-weight: bold;
}

.marche textarea {
  width: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
  resize: none;
}

.marche input[type=submit]{
  background-color: #191970;
  border: none;
  width: 8.5rem;
  color: white;
  padding: 1% 1%;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 0 2rem 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.marche #bottuns{
  margin-right: 2rem;
  float: right;
}



 /* ------------------------------------------- */
            /* Nouveau Screen */
/* ------------------------------------------- */ 


.nouveau #form {
  justify-content: center ;
  padding-bottom: 2.5rem;   
  margin : auto;
  display: flex;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.nouveau h3 {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 180%;
  color: #191970;
  font-weight: bold
}

.nouveau .div{
  display: inline-block;
  margin: 1rem 0 0 1rem;
}

.nouveau #tear{ 
  margin: 0.5rem 10rem 0 10rem;
}

.nouveau input[type=date] ,select{
  width:    17rem ;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
   padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

.nouveau input[type=text]{
  width: 17rem ;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 2% 2%;
  box-sizing: border-box;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
}

@media screen and (max-width : 500px) {
  .nouveau input[type=text],.nouveau input[type=date] ,select {
       width: 10rem ;
  }
}


.nouveau label{
  margin: 1rem 0 0  0;
  color: #191970;
  font-size: 80%;
  float: left;
  font-weight: bold;
}

.nouveau textarea {
  width: 100%;
  padding: 1rem 1rem;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #DCDCDC;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 100%;
  resize: none;
}

.nouveau input[type=submit]{
  background-color: #191970;
  border: none;
  width: 8.5rem;
  color: white;
  font-weight: 600;
  letter-spacing: 0.3rem;
  padding: 3% 4%;
  text-decoration: none;
  cursor: pointer;
  margin: 2rem 0 2rem 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nouveau #bottuns{
  margin-right: 2rem;
  float: right;
}



 /* ------------------------------------------- */
            /* Consultation Screen */
/* ------------------------------------------- */ 
.consultation {

  background-image: url('./images/site-background.jpg'); 


}

@media only screen and (max-width:2000px) and (min-width:1020px){

.consultation .bot3{
    background-color: rgb(92, 92, 230);
    border-radius: 20px;color: white;width: 40%;height: 40px;
    float: right;
    margin-right: 7%;
  }
  .consultation .bor{
    border: none;
    font-weight:bold; /* l3ored ta3 lekhet*/
  }
  .consultation .bor:hover{
    background-color: white;
    color: #000;
   
  }
  
  .consultation .divnavre{
    width: 60%;
    height: 90%;
    margin-top: 4%;
    margin-bottom: 6%;
  }
  .consultation .divnavdec{
    width: 40%;
    height: 90%;
    margin-top: 4%;
    margin-bottom: 6%;
}
  .consultation .navclass{
    width: 100%;
    height: 110px;
    display: flex;
}
  .consultation .divt{
    width: 50%;
    height: auto;
  }
 .consultation .lbc{
   font-size:20px;
   margin-top: 25px;
   margin-left: 40px;
   margin-bottom: 25px;
   color: #000;
   font-weight: bold;
   
 }
 .consultation .lbc span {
  color: #000000CC;
  font-weight: 500;
 }
 
 .consultation .mainclass{
   display: block;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
   padding-top: 1rem;
   margin-left: 2rem;
   margin-right: 2rem;
   
 }
 .consultation .avencement{
   width: 97%;
   margin: auto;
   height: auto;
   background-image: url('./images/site-background.jpg'); 
   border-radius: 6px;
   border-style: solid;
   border-color: rgb(214, 209, 209);
   border-width: 1px;
   display: flex;
 }

 .consultation .service{
  width: 97%;
  margin: auto;
  margin-top: 4%;
  height:auto;
  background-image: url('./images/site-background.jpg'); 
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(214, 209, 209);
  border-width: 1px;
  display: block;

}

.consultation .title{
    text-align: center;
    color: #1c294e;
    font-size: 35px;
    font-weight: bold;
}
.consultation .ligne{
  background-color: rgb(226, 225, 225);
  width: 60%;
  margin-left: 20%;
  height: 1.2px;
}
}

@media only screen and (max-width:1020px) and (min-width:810px){
  .consultation .divt{
    width: 50%;
    height: auto;
  }
  .consultation .lbc{
    font-size:15px;
    margin-top: 25px;
    margin-left: 8%;
    margin-bottom: 25px;
       color: #000;
   font-weight: bold;
    
  }
  .consultation .lbc span {
    color: #000000cc;
    font-weight: 500;
  }

  .consultation .navclass{
      width: 100%;
      height: 110px;
  }
  .consultation .mainclass{
    display: block;
    height: auto;
    
  }
  .consultation .avencement{
    width: 97%;
    margin: auto;
    height: auto;
    background-color: url("./images/site-background.jpg");
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(214, 209, 209);
    border-width: 1px;
    display: flex;
  }
 
  .consultation .service{
   width: 97%;
   margin: auto;
   margin-top: 4%;
   height:auto;
   background: url("./images/site-background.jpg");
   border-radius: 6px;
   border-style: solid;
   border-color: rgb(214, 209, 209);
   border-width: 1px;
   display: block;
 }
 
 
 
 .consultation .title{
     text-align: center;
     color: #1c294e;
     font-size: 25px;
     font-weight: bold;
 }
 .consultation.ligne{
   background-color: rgb(226, 225, 225);
   width: 60%;
   margin-left: 20%;
   height: 1.2px;
 }
 }
 @media only screen and (max-width:810px) and (min-width:100px){
  .consultation .divt{
    width: 100%;
    height: auto;
  }
  .consultation .lbc{
    font-size:15px;
    margin-top: 25px;
    margin-left: 8%;
    margin-bottom: 25px;
    color: #000;
   font-weight: bold;
    
  }
  .consultation .lbc span {
    color: #000000CC;
    font-weight: 500;
  }
  .consultation .navclass{
      width: 100%;
      height: 110px;
  }
  .consultation .mainclass{
    display: block;
    height: auto;
    
  }
  
  .consultation .avencement{
    width: 97%;
    margin: auto;
    height: auto;
    background: url('./images/site-background.jpg');
    border-radius: 6px;
    border-style: solid;
    border-color: rgb(214, 209, 209);
    border-width: 1px;
    display: block;
  }
 
  .consultation .service{
   width: 97%;
   margin: auto;
   margin-top: 4%;
   height:auto;
  background-color: url("./images/site-background.jpg");
   border-radius: 6px;
   border-style: solid;
   border-color: rgb(214, 209, 209);
   border-width: 1px;
   display: block;
 }
 
 
 
 .consultation .title{
     text-align: center;
     color: #1c294e;
     font-size: 25px;
     font-weight: bold;
 }
 .consultation .ligne{
   background-color: rgb(226, 225, 225);
   width: 60%;
   margin-left: 20%;
   height: 1.2px;
 }
 }
 .consultation .titleDiv {

  background: url('./images/site-background.jpg');

 }



 /* *********************************************************** */
 /*                     LOADING PAGE                            */
 /* *********************************************************** */
 .loading {
  background: url('./images/site-background.jpg');
  width: 100%;
  min-height: 47rem;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .loaderpere {
   
 background: #000000AA;
 width: 30rem;
 height: 30rem;
 border-radius: 100%;
 margin: auto;
 padding-top: 10rem;
 box-shadow: inset 1rem 1rem  10rem #000,1rem 1rem  10rem #000;;

 }

 .loader {
   
  background: #FFF;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin: auto;
  
}
.loding_Title {
  font-size: 3rem;
  font-weight: bold;
  color: #FFF;
  text-align: center;


}


